* {
    box-sizing: border-box;
}

.header {
	text-align: center;
}

.board {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;

	width: 700px;
	margin:  auto;
}

.cell {
    display:  flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	margin: 10px;
	background-color: #9b9ca5;
}

.active {
    background-image: url(../img/goblin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



.cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    background-image: url('/src/img/hammer.png');
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
    display: none; /* Скрываем курсор по умолчанию */
}

.cursor.active {
    display: block; /* Показываем курсор при активации */
}